@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(style.css);


*{
margin:0px;
padding:0px;
}




#hover .contenedor{
position:relative;
top: 30%;
transform: translateX(-50%) translateY(-50%);
color: #fff;
}


