*{margin: 0;}
.contenedorlogo{
    margin: auto;
    width: 100%;
    max-width: 200px;
    max-width: 450px;
  
  
  
}
.contenedorlogo .imgLogo1 { 
    margin: auto;
    width: 70%;
    display: flex;
    top:5%;  
    position: relative;
    align-content: center; 

   
    }

  /*  #sectionlogo{ 
        background-color: black;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size:cover;
        overflow:hidden;
        padding: 0;
        position: relative;
        width:100%;
        max-width: 600px;
      
        background-color: aqua;
       
    }*/
 
 